* {
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    background: url(../img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
}
body {
    background: url(../img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
}

.background {
    content: url(../img/light.jpg);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
    pointer-events: none; 
}
.info {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.window {
    display: flex;
    flex-direction: column;
    width: 55rem;
    height: 35rem;
    background-color: rgba(211, 222, 222, 0.2);
    /* margin: 12% auto; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
}
.bar {
    padding-top: 8px;
    padding-left: 10px;
    position: sticky;
    top: 0;
    background-color: rgba(211, 222, 222, 0.6);
    z-index: 1;
    img {
        margin: 0;
        width: 3rem;
        transform: translate(4%, -4%);
        transition: all 1s ease;
    }
    img:hover {
        background-color: #757575;
        border-radius: 8px;
    }
    h1 {
        display: inline-block;
        position: absolute;
        top: 1;
    }
}
.content {
    /* display: grid;
    grid-template-rows: repeat(2, 1fr); /* 定义三列，每列等宽 
    grid-gap: 10px; 设置网格间距 */
    display: flex;
    flex-direction: column;
    h1 {
        margin: 10px;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow:auto; 
    }
    .window {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 0px;
        overflow-x: hidden;
    }
    .info {
        z-index: -1;
    }
    .content {
        flex-direction: column;
    }
    .items {
        margin: 1rem;
        padding: 8px;
        display: block;
        width: 100%;
        img {
            border-radius: 4px;
            width: 3rem;
        }
        .import {
            font-weight: bold;
        }
    }
}
@media(prefers-color-scheme: dark) {
    html {
        background: url(../img/drak.png); 
    }
    body {
        background: url(../img/drak.png); 
    }
    .window {
        background-color: rgba(21, 20, 20, 0.6);
    }
    .background {
        content: url(../img/drak.png);
    }
    .bar {
        padding-top: 8px;
        padding-left: 10px;
        position: sticky;
        top: 0;
        background-color: rgba(21, 20, 20, 0.2);
        img {
            content: url(../ico/return/return_drak.svg);
            margin: 0;
            width: 3rem;
            transform: translate(4%, -4%);
        }
    }
    * {
        color: white;
    }
    .window {
        background-color: rgba(21, 20, 20, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    .items {
        border: 2px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(51, 51, 52, 0.6);
    }
}

