html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    background: url(../img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
    backdrop-filter: blur(6px);
}
body {
    background: url(../img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
    backdrop-filter: blur(6px);
}

.background {
    content: url(../img/light.jpg);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
    pointer-events: none; 
    filter: blur(6px);
}
.window {
    display: flex;
    width: 55rem;
    height: 35rem;
    background-color: rgba(211, 222, 222, 0.3);
    /* margin: 12% auto; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    transition: all 1s ease-in-out;
}
button {
    background-color: rgb(15, 122, 237);
    border: white solid 2px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 8px;
    transition: all 0.5s ease;
}
button:hover {
    border-color: black;
}
button:active {
    transform: scale(0.5);
}
@media screen and (max-width: 900px) {
    body {
        overflow:auto; 
        overflow-x: hidden;
    }
    .window {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 0px;
        overflow-x: hidden;
        transition: all 1s ease-in-out;
    }
    .info {
        z-index: -1;
    }
}
@media(prefers-color-scheme: dark) {
    html {
        background: url(../img/drak.png); 
    }
    body {
        background: url(../img/drak.png); 
    }
    * {
        color: white;
    }
    .window {
        background-color: rgba(21, 20, 20, 0.2);
        /* border: 2px solid black; */
        box-shadow: 0 0 10px white;
    }
    .background {
        content: url(../img/drak.png);
    }
}

