html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    background: url(img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
    backdrop-filter: blur(6px);
}
body {
    background: url(img/light.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%; 
    overflow:hidden; 
    z-index: -2;
    backdrop-filter: blur(6px);
}

.background {
    content: url(img/light.jpg);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: -1; 
    pointer-events: none; 
    filter: blur(6px);
}
.info {
    color: white;
    display: block;
    
    position: absolute;
    bottom: 0;
    left: 0; 
}
.window {
    display: flex;
    flex: 1;
    width: 50rem;
    height: 35rem;
    background-color: rgb(33, 95, 95);
    margin: 12% auto;
    border: 2px solid white;
    border-radius: 8px;
    
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.right {
    display: flex;
    background-color: blueviolet;
}
.hearimg {
    width: 12rem;
    border: 4px solid rgb(0, 183, 255);
    padding: 4px;
    border-radius: 100px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media(prefers-color-scheme: dark) {
    html {
        background: url(img/drak.png); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height:100%; 
        overflow:hidden; 
        z-index: -2;
        backdrop-filter: blur(6px);
    }
    body {
        background: url(img/drak.png); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height:100%; 
        overflow:hidden; 
        z-index: -2;
        backdrop-filter: blur(6px);
    }
    .background {
        content: url(img/drak.png);
    }
}
    
